.header {
  background-color: var(--color-bunker);
  padding: var(--size-3) var(--size-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLink {
  font-size: var(--font-3xl);
  font-weight: bold;
  color: var(--color-breaker-bay);
  text-decoration: none;
}

.container {
  max-width: var(--size-container);
  margin: var(--size-6) auto;
  padding: 0 var(--size-3);
}

.logoutButton {
  width: auto;
}
