.container {
  display: flex;
  height: 4rem;
  color: var(--color-ghost);
  align-items: center;
  padding: var(--size-1) var(--size-2);
}

.image {
  height: 80%;
  margin-right: var(--size-4);
  border-radius: 50%;
}

.details {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.heartIcon {
  flex-shrink: 0;
  align-self: center;
  margin-right: var(--size-2);
  color: var(--color-breaker-bay);
  width: var(--size-5);
  height: var(--size-5);
}
