:root {
  --color-black-pearl: #02040a;
  --color-bunker: #161b22;
  --color-ghost: #c8d1d9;
  --color-regent-gray: #8b949e;
  --color-breaker-bay: #62a4ab;
  --color-valencia: #d3392d;
  --color-apple: #56ca45;
}
